.nav-custom {
  background-color: #0d6efd;
}
.carousel-item img {
    height: 350px;   /* Change height as needed */
    object-fit: cover;
}
.deals {
    margin-top: 30px;
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    animation: scrollUp 1s linear infinite;
    white-space: nowrap;
}
@keyframes scrollUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.card{
    transition: all 0.5s;
}
.card:hover{
    transform: scale(1.005);
    box-shadow: rgba(201, 142, 241, 0.4) 5px 5px, rgba(210, 132, 234, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.fotter{
    background-color: rgb(34, 33, 33);
    color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0px 5px;
}